<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />

    <meta name="description" content="Isabelle Gallienne 56000 Vannes ">
    <meta name="author" content="Gallienne Antoine">
    <meta name="copyright" content="MIT">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <link rel="stylesheet" href="../public/style/style.css">

    <title> Isabelle Gallienne - galerie 01</title>
</head>

<body>
<main>
    <header>

        <nav class="main-navigation">
            <div class="nav-wrapper">
                <p class="sigle"><a href="../index.html">Isabelle <span>Gallienne</span></a>  </p>
                <input type="checkbox" id="menu-checkbox" class="menu-checkbox">
                <label for="menu-checkbox" class="menu-burger"><i class="fas fa-bars"></i>  Menu</label>

                <ul class="menu">
                    <li>
                        <a href="#">Accueil</a>
                    </li>
                    <li>
                        <a href="atelier.html">Atelier de Julia</a>
                    </li>
                    <li>
                        <a href="#">Techniques</a>
                    </li>
                    <li>
                        <a href="#">Biographie</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>

    <section>
        <h1>  </h1>
<!--
        <section class="conteneur">
            <div class="diaporama-accueil"></div>
        </section>
        -->
    </section>
    <section>
        <a href="../index.html"><i class="fas fa-angle-left"></i></a>
        <i class="fas fa-grip-horizontal"></i>
        <section class="galerie">
            <img src="../public/img/11.webp" alt="" height="" width="">
            <img src="../public/img/12.webp" alt="" height="" width="">
            <img src="../public/img/13.webp" alt="" height="" width="">
            <img src="../public/img/14.webp" alt="" height="" width="">
            <img src="../public/img/15.webp" alt="" height="" width="">
            <img src="../public/img/16.webp" alt="" height="" width="">
            <img src="../public/img/17.webp" alt="" height="" width="">
            <img src="../public/img/18.webp" alt="" height="" width="">
            <img src="../public/img/19.webp" alt="" height="" width="">
            <img src="../public/img/20.webp" alt="" height="" width="">
        </section>
        <a href="../index.html"><i class="fas fa-angle-left"></i></a>
        <i class="fas fa-grip-horizontal"></i>
    </section>
    <footer>
        <p>Copyright - Isabelle GALLIENNE</p>
    </footer>
</main>
</body>
</html>
