
@font-face {
    font-family: 'ModernSans-Light';
    src: url('../font/ModernSans-Light.otf') format('opentype'),
    url('../font/ModernSans-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Louis George Cafe';
    src: url('../font/Louis George Cafe.ttf') format('truetype'),
    url('../font/Louis George Cafe Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body{
    min-width: 460px;
    max-width: 100%;
    height: 100%;
    margin: auto;
    background-color: #AAA;
}

.sigle{
    font-family: 'ModernSans-Light';
    font-size: 2em;
    color: #578D2E;
    margin:0.5em 0.5em 0 0.5em ;
}


.sigle span{
    color: #555;
}

/* menu burger */

.menu {
    display: none;
    flex-basis: 100%;
    list-style: none;
    text-decoration: none;
}

.nav-wrapper a{
    text-decoration: none;
    color: #578D2E;
}

.menu-checkbox:checked ~ .menu {
    display: block;
}

.menu-checkbox {
    opacity: 0;
    position: absolute;
    top: -1000px;
}

.menu-checkbox:focus + .menu-burger {
    display: none;
}

.menu-burger {
    padding: 2vh 3vw 0 0;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu a{
    color: #578D2E;
    font-size: 1.1rem;
}

/* --------------------------*/

a:hover{
    color: #DDD;
}
/* fin menu burger */

address {
    margin-left: 1rem;
}

.contact {
    display: flex;
    flex-direction: column;
}
.carte{
    width: 350px;
    height: 250px;
    margin: 3vh 0 1vh 5vw;
}

footer{
    border-top: solid #555 1px ;
    text-align: center;
    margin-top: auto;
}

/*  -----------------  pour les écrans moyens de 768px tablette  -------------*/
/* -------------------------------------------------------------------------------*/

@media screen and (min-width: 768px) {

    .contact {
        display: flex;
        flex-direction: row;
    }
    .carte{
        width: 400px;
        height: 250px;
        margin: 10vh 0 0 10vw;
    }




}



/*  -----------------  pour les écrans ordinateur de 1200px   -------------*/
/* -------------------------------------------------------------------------------*/

@media screen and (min-width: 1200px) {

    body{
        width: 80%;
    }

    .menu-burger,
    .menu-checkbox {
        display: none;
    }

    .menu {
        display: block;
        flex-basis: auto;
        margin: 1em;
        padding: 0;
    }
    .menu li {
        display: inline-block;
        margin: 1em;
    }
    .nav-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        width: 80%;
        margin: auto;
    }

    .carte{
        width: 550px;
        height: 350px;
        margin: 3vh 0 1vh 10vw;
    }

}

