
.main-navigation{
    margin-bottom: 2rem;
}



/* fin menu burger */

h1{
    font-family: 'ModernSans-Light';
    font-size: 2rem;
    position: relative;
    bottom:110px;
}

.atelier{
    background-image: url('..public/img/atelier.webp');
    max-width: 800px;
    padding: 5vh 10vw;
    text-align: center;
}

/* diaporama */

.conteneur{
    max-width: 350px;
    margin: 50px auto;
    border: solid black 3px;
}

.diaporama-atelier{
    width: 100%;
    height: 0;
    padding-top: 75%;
    background-color: #ededed;
    background-size: contain;
    animation: atelier 15s ease-in-out infinite both;
}

.diaporama:hover{
    animation-play-state: paused;
}

/* fin diaporama */

footer{
    border-top: solid #555 1px ;
    text-align: center;
    margin-top: auto;
}

/*  -----------------  pour les écrans moyens de 768px tablette  -------------*/
/* -------------------------------------------------------------------------------*/

@media screen and (min-width: 768px) {

    .atelier{
        max-width: 800px;
        margin: 50px auto;
    }

    h1{
        font-family: 'ModernSans-Light';
        font-size: 2rem;
        position: relative;
        bottom:120px;
    }

    /* diaporama */

    .conteneur{
        max-width: 500px;
        margin: 50px auto;
    }

}



/*  -----------------  pour les écrans ordinateur de 1200px -------------*/
/* -------------------------------------------------------------------------------*/
@media screen and (min-width: 1200px) {

    body{
        width: 80%;
    }

    .menu-burger,
    .menu-checkbox {
        display: none;
    }

    .menu {
        display: block;
        flex-basis: auto;
        margin: 1em;
        padding: 0;
    }
    .menu li {
        display: inline-block;
        margin: 1em;
    }
    .nav-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        width: 80%;
        margin: auto;
    }

    /* diaporama */

    .conteneur{
        max-width: 800px;
        margin: 50px auto;
    }
    .galerie {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: auto;
    }
}
