

.main-navigation{
    margin-bottom: 2rem;
}


h1{
    font-family: 'ModernSans-Light';
    font-size: 2rem;
    position: relative;
    bottom:1px;
    margin: 0;
}

.atelier{
    background-image: url('..public/img/atelier.webp');
    max-width: 800px;
    text-align: center;
}

/* diaporama */

.diaporama-atelier{
    width: 100%;
    height: 0;
    padding-top: 75%;
    background-color: #ededed;
    background-size: contain;
    animation: atelier 15s ease-in-out infinite both;
}

.diaporama-atelier:hover{
    animation-play-state: paused;
    cursor: wait;
}

/* fin diaporama */

p footer{
    margin-top: 10px;
}

/* -----            media query        ----*/
// ------------------------------------------

body {

    @include media-min(768px) {

        .atelier {
            max-width: 800px;
            margin: 1px auto;
        }

        h1 {
            font-family: 'ModernSans-Light';
            font-size: 2rem;
            position: relative;
            bottom: 10px;
        }

        /* diaporama */

        .conteneur {
            max-width: 500px;
            margin: 50px auto;
        }
    }


    @include media-min(1024px) {


        .menu-burger,
        .menu-checkbox {
            display: none;
        }

        .menu {
            display: block;
            flex-basis: auto;
            margin: 1em;
            padding: 0;
        }
        .menu li {
            display: inline-block;
            margin: 1em;
        }
        .nav-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: nowrap;
            width: 80%;
            margin: auto;
        }

        /* diaporama */

        .conteneur {
            max-width: 800px;
            margin: 50px auto;
        }
        .galerie {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin: auto;
        }
    }
}